*.o
*.dylib
*.dSYM

*.so

*.obj
*.lib
*.dll
*.exp

*.pyc

*.mkf
*.dat
m.msg

*.smkf
*.yj1
*.yj2
*.rle
*.pat
*.fbp

MKF/cut
MKF/mak

PalScript/*.bin
PalScript/*.dll
PalScript/*.big5

MapEditor/gop*
MapEditor/map*

Pal95Tools/Pal95Tools.ini